.header__square-pic {
  display: flex;
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}
.header__square-pic,
.rotation {
  animation: 20s linear infinite rotate;
}
.kaufman__triangle,
.rotation {
  animation: 20s linear infinite rotate;
}
